:root {
    --primary: #d3d3d3;
    --secondary: #666666;
    --black: #dbdbdb;
    --blackTrans: rgba(255, 255, 255, 0.4);
    --white: #323232;
    --darkestGrey: #777777;
    --creme: #3A3A3A;
    --silvergrey: #707070;
    --darkgrey: #a3a3a3;
    --red: #b42c3a;
    --green: #155724;
    --blue: #2a4b5e;
    --yellow: #856404;
    --middle-grey: #323232;
    --loading-background: rgba(119, 119, 119, 0.6);
    --box-shadow: 0 6px 12px rgba(255, 255, 255, 0.175);
    --box-shadow-toast: 0 4px 8px rgba(255, 255, 255, 0.175);
    --box-shadow-hover: 0 12px 18px rgba(255, 255, 255, .200);
    --container-shadow: rgba(219, 219, 219, 0.6);
}