@media (prefers-color-scheme: light) {
    :root {
        --primary: #538ea3;
        --secondary: #b2dfee;
        --black: #000;
        --grey: #999;
        --creme: #F5F5F5;
        --lightgrey: #e9e9e9;
        --silvergrey: #d3d3d3;
        --darkgrey: #efefef;
        --white: #FFF;
        --red: lightcoral;
        --background-color: transparent;
        --transparent: transparent;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #323232;
        --primary: #d3d3d3;
        --secondary: #aaaaaa;
        --white: #a3a3a3;
        --red: rgb(245, 56, 56);
        --black: #ccc;
    }
}

/* Default HTML & Body */
html,
body {
    margin: 0 auto;
    padding: 0;
    line-height: 20px;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    user-select: none;
    -moz-user-select: none;
    height: 98vh;
    width: 98vw;
    background-color: var(--background-color);
    color: var(--black);
}

a,
a:visited,
a:focus {
    border: none;
    outline: none;
    color: var(--primary);
    transition: all .5s;
    text-decoration: underline;
}

a:hover {
    color: var(--secondary);
    transition: all .5s;
    text-decoration: none;
}

/* Loading Animation before iFrame */

#loading {
    background-color: rgba(243, 243, 243, 0.9);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#loading>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black);
    font-size: 20px;
    margin-top: 55px;
    text-align: center;
    width: 350px;
}

/* SVG Surface */
#svg_config,
#svg_config:focus {
    border: 1px solid black;
    margin-right: 5px;
    outline: none;
}

#svg_display {
    height: 100%;
    width: 100%;
}

.svg_preview {
    padding: 5px;
    border: 1px solid var(--white)FFF;
    margin: 0 auto;
    margin-top: 10px;
}

.svg_preview_catch {
    overflow: auto;
    max-height: calc(100vh - 310px);
    scrollbar-width: 12px;
    border: 1px solid var(--primary);
}

.align_element {
    float: left;
}

.scrollbar {
    scrollbar-arrow-color: rgba(0, 0, 0, .3);
    scrollbar-face-color: rgb(210, 210, 210);
    /* Firefox 63 compatibility */
    scrollbar-track-color: var(--creme);
    /* Firefox 63 compatibility */
    scrollbar-color: var(--primary) var(--creme);
    scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--primary);
    -webkit-box-shadow: inset 0 0 6px var(--primary);
    border-radius: 10px;
    background-color: var(--creme);
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: var(--creme);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px var(--primary);
    -webkit-box-shadow: inset 0 0 6px var(--primary);
    background-color: var(--primary);
}

.container {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)),
        linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%,
        radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0)),
        radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0)) 0 100%;
    background-position-x: 0%, 0px, 0%, 0px;
    background-position-y: 0%, 100%, 0%, 100%;
    background-repeat: repeat, repeat, repeat, repeat;
    background-size: auto, auto, auto, auto;
    background-attachment: local, local, scroll, scroll;
    background-position: 0 0, 100%, 0 0, 100%;
    background-repeat: no-repeat;
    background-size: 2.5rem 100%, 2.5rem 100%, .875rem 100%, .875rem 100%
}

.container fieldset:first-child {
    /* Move first element to the left */
    margin-left: 0px;
}

.container fieldset:last-child {
    /* Move last element to the left */
    margin-right: 0px;
}

fieldset {
    flex: 0 0 auto;
    border: solid 1px var(--primary);
    border-radius: 5px;
    padding: 8px;
    margin: 12px;
    min-width: 220px;
    width: fit-content;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.config_sec,
legend {
    padding: 3px 6px;
    background: var(--primary);
    color: var(--white);
    height: 24px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    min-width: 150px;
    align-items: center;
}

.config_sec {
    padding-left: 12px;
}

legend>.legend {
    color: var(--white);
}

legend>span {
    margin-left: 4px;
    margin-top: 2px;
}

#display_container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 95vh;
    overflow: hidden;
    border-radius: 10px;
}

.title_bar {
    background-color: var(--primary);
    height: 34px;
    text-align: right;
    width: 100%;
}

.framed {
    width: 100%;
    height: calc(100% - 32px);
    border: none;
    margin: 0;
    display: block;
    overflow: hidden;
}

.draggable,
.draggable-group {
    cursor: move;
    pointer-events: visible;
    touch-action: none;
}

#help_grid {
    display: none;
    pointer-events: none;
}

/*
.draggable-multi,
.draggable-multi-group,
*/
.dragging {
    pointer-events: visible;
    opacity: 0.6 !important;
    cursor: move;
}

.draggable-multi,
.draggable-multi-group {
    pointer-events: visible;
    cursor: move;
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}

@keyframes animation_blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.noscroll {
    overflow: hidden !important;
}

.alignable,
.clickable {
    pointer-events: visible;
    cursor: pointer;
}

.line {
    fill: none;
    cursor: pointer;
    pointer-events: all;
}

.animation {
    animation-name: dashdraw;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    stroke-dasharray: 4 12 4 12 4 100;
    stroke-linecap: round;
    fill: none;
    text-rendering: optimizeSpeed;
    stroke: #ffce4a;
}

@keyframes dashdraw {
    to {
        stroke-dashoffset: -136;
    }
}

.no_animation {
    visibility: hidden;
    fill: none;
}

.anim_element {
    pointer-events: none;
}

.overview {
    color: var(--black);
}

.add_element_area {
    color: var(--primary);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--primary);
    transition: .5s;
    height: 28px;
    width: 28px;
}

/* For Mobile */
@media (pointer: coarse) {
    .add_element_area {
        height: 48px;
        width: 48px;
    }
}

.add_element_area:hover {
    color: var(--secondary);
    transition: .5s;
}

.all_elements {
    transition: opacity .4s ease-in-out;
}

.all_elements:hover {
    opacity: .6;
    transition: opacity .4s ease-in-out;
}

.faded_out {
    opacity: 0.25;
    transition: all .4s ease-in-out;
}

.no_click {
    pointer-events: none;
}

/* Success and Failed balloons */
#message_success,
#message_failed {
    display: none;
    min-width: 200px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: lightgreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

/* Failed balloon */
#message_failed {
    background-color: var(--red);
}

#config_link {
    position: fixed;
    bottom: 0;
    left: 0;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: auto;
    /* Full-width */
    height: 8px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-top: 12px;
    /* touch-action: none;*/
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 20px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: var(--primary);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 20px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: var(--primary);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.form_div {
    position: relative;
    width: min-content;
    border: none;
    margin-top: 15px;
}

.form_div.text {
    margin-top: 25px;
}

.no_margin {
    margin: 1px;
}

.form_div::after {
    margin: 0 auto;
    position: absolute;
    content: '';
    height: 4px;
    width: 0%;
    bottom: 0px;
    left: 0;
    right: 0;
    background: transparent;

    /* optional animation */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.form_div:focus-within::after {
    width: 100%;
    background: var(--primary);
}

.input_text,
.input_number,
.input_select {
    width: 176px;
    font-size: 14px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--grey);
    padding: 5px 0;
    transition: border .5s;
    background: transparent;
}

.input_text.color {
    width: 140px;
}

.input_select {
    width: 176px;
    cursor: pointer;
    text-overflow: ellipsis;
}

.input_number {
    width: 176px;
}

.input_number_small {
    width: 90px;
}

.color-chooser {
    width: 180px;
}

.form_label {
    color: var(--primary);
    width: max-content;
}

.input_text:hover,
.input_number:hover,
.input_select:hover {
    border-color: var(--black);
    transition: .5s;
}

.input_text:focus,
.input_number:focus,
.input_select:focus {
    border-color: transparent;
}

.input_select optgroup {
    font-style: normal;
}

.input_text:focus~.form_label,
.input_number:focus~.form_label,
.input_text:not(:placeholder-shown)~.form_label,
.input_number:not(:placeholder-shown)~.form_label {
    transform: scale(0.8)translateY(-20px);
    color: var(--primary);
}

.input_text~.form_label,
.input_number~.form_label {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
    pointer-events: none;
    transform-origin: left;
    transition: transform .3s;
}

.input_text:invalid {
    color: var(--red);
}

.input_button {
    width: 120px;
    height: 28px;
    border-radius: 5px;
    background-color: var(--primary);
    font-weight: bold;
    color: var(--white);
    padding: 4px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #eee;
    cursor: pointer;
    transition: .5s;
}

.input_button:hover {
    opacity: .80;
    transition: .5s;
}

.input_button:focus {
    outline: none;
}

.icon_wrapper {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.icon_in_input {
    position: relative;
    left: 0;
    top: 0;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding-bottom: 4px;
}

.color_in_input {
    top: -4px;
}

.icon_in_input_pad {
    padding-right: 30px;
}

input[disabled],
select[disabled] {
    cursor: not-allowed;
}

.red {
    background-color: lightcoral;
}

.red_icon {
    color: lightcoral;
}

.elm_shadow {
    -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.7));
}

.detail_box {
    width: auto;
    background: #edf2f5;
    padding: 15px;
    margin: 10px;
    flex: 1 1 auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    transition: All .2s linear;
    -webkit-transition: All .2s linear;
    border-radius: 5px;
}

.container>fieldset>div>div:last-child {
    flex: 0 0 auto;
}

.detail_box:hover {
    box-shadow: 0 12px 18px rgba(0, 0, 0, .200);
    transition: All .2s linear;
    -webkit-transition: All .2s linear;
}

.no_flex {
    flex: none;
}

.detail_h2 {
    font-size: 15px;
    color: var(--primary);
    font-weight: 600;
    border-bottom: 1px solid #dee3e5;
    padding-bottom: 10px;
}

.element_config_table,
.config_table {
    border-collapse: collapse;
    border-spacing: 0;
    color: #4b4b59;
    width: 100%;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.element_config_table tr,
.config_table tr {
    height: 40px;
}

.element_config_table td,
.config_table td {
    padding-right: 5px;
}

.element_config_table th:first-child,
.element_config_table td:first-child,
.config_table th:first-child,
.config_table td:first-child {
    width: 70px;
    padding: 0 10px;
}

.label {
    cursor: pointer;
}

.element_config_table th:first-child,
.element_config_table td:first-child {
    width: 120px;
}



.data-table {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-collapse: separate;
    width: 600px;
    max-width: 100vw;
    border-radius: 5px;
    border: 1px solid var(--silvergrey);
}

.data-table td:last-child,
.data-table th:last-child {
    white-space: nowrap;
    width: 106px;
    min-width: 106px;
    max-width: 106px;
    text-align: right;
    padding-right: 5px;
}

.data-table th:last-child {
    padding-right: 8px;
}

.data-table th {
    cursor: pointer;
    vertical-align: middle;
}

.data-table td:nth-child(2),
.data-table th:nth-child(2),
.data-table td:nth-child(1),
.data-table th:nth-child(1) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    max-width: 250px;
    min-width: 250px;
}

.data-table tbody tr:nth-child(2n+1) {
    background-color: var(--creme);
}

.data-table tr {
    border: 1px solid var(--silvergrey);
}

.data-table td {
    border-top: 1px solid var(--silvergrey);
}

.data-table tbody tr:hover {
    background-color: var(--darkgrey);
    transition: .5s;
}

/* Checkbox Style */

.onoffswitch {
    position: relative;
    width: 60px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid var(--white);
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    color: var(--white);
    font-weight: 600;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: var(--primary);
    color: var(--white);
}

.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: #d3d3d3;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 12px;
    margin: 6px;
    background: var(--white);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 32px;
    border: 2px solid var(--white);
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.onoffswitch-checkbox:disabled+.onoffswitch-label {
    cursor: not-allowed;
}

.icon-xs {
    font-size: 18px;
}

#config_bar {
    height: 100%;
    max-height: 100%;
    width: 355px;
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid var(--primary);
    position: fixed;
    top: 0;
    right: -357px;
    background-color: var(--white);
    z-index: 10;
    transition: all .4s ease-in-out;
    overflow-y: auto;
    margin: 0 auto;
}

#config_bar>.title,
.title {
    top: 0;
    position: sticky;
    background-color: var(--primary);
    width: 100%;
    height: 32px;
    font-size: 16px;
    z-index: 10;
    color: var(--white);
}

#config_bar>.title>span {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 600;
    color: var(--white);
}

.title {
    font-weight: 600;
    color: var(--white);
}

img {
    border: 0;
}

#config_bar>.title>.close,
#display_container>.title>.close {
    position: absolute;
    right: 0;
    cursor: pointer;
    background-image: url('../img/icon_close_white.png');
    background-repeat: no-repeat;
    padding-right: 32px;
    height: 34px;
    display: inline-block;
}

#config_bar.show {
    right: 0px;
    transition: all .4s ease-in-out;
}

text {
    text-rendering: geometricPrecision;
    dominant-baseline: central;
    user-select: none;
}

.connPoints {
    stroke: var(--primary);
    stroke-width: 5px;
    transition: .5s;
}

.clickable {
    transition: .5s;
}

#availableDS {
    line-height: 2;
    list-style-type: none;
}

#availableDS li {
    display: flex;
    align-items: center;
}

.connPoints:hover,
.clickable:hover {
    stroke: var(--secondary) !important;
    transition: .5s;
}

/* Tabs with Radio-Buttons in Detail-View */
.tabbed {
    width: 99%;
}

.tabbed figure {
    display: block;
    margin: -1px 0;
    /* border-bottom: 1px solid silver; */
    min-width: 100%;
    clear: both;
    max-width: 100%;
}

.tabbed>input,
.tabbed figure>div {
    display: none;
}

.tabbed figure>div {
    padding: 10px;
    border: 1px solid silver;
}

.tabbed nav {
    margin: 0;
    padding-top: 5px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 100%;
    clear: both;
    max-width: 100%;
}

#tab1:checked~figure .tab1,
#tab2:checked~figure .tab2,
#tab3:checked~figure .tab3,
#tab4:checked~figure .tab4,
#tab5:checked~figure .tab5,
#tab6:checked~figure .tab6,
#tab7:checked~figure .tab7,
#tab1_config:checked~figure .tab1_config,
#tab2_config:checked~figure .tab2_config {
    display: block;
    box-sizing: border-box;
    max-width: 98vw;
}

nav label {
    display: flex;
    float: left;
    padding: 5px 10px;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    background: var(--primary);
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    align-items: center;
}

nav label>.menu {
    padding-right: 5px;
}

nav label:nth-child(1) {
    border-left: 1px solid silver;
}

nav label:hover {
    background: var(--secondary);
    color: var(--black);
    cursor: pointer;
}

nav label:active {
    background: var(--white);
}

.form_div>label,
.datasource,
.all_datasource {
    cursor: pointer;
    transition: .5s;
}

.datasource,
.all_datasource {
    color: var(--primary);
    vertical-align: bottom;
}

.datasource:hover,
.all_datasource:hover {
    color: var(--secondary);
    transition: .5s;
}

.ds_buttons {
    outline: none;
    background: transparent;
    border: none;
}

.img_button {
    color: var(--primary);
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.img_button:hover {
    color: var(--secondary);
    transition: .5s;
}

.img_button:disabled {
    cursor: not-allowed;
}

#tab1:checked~nav label[for="tab1"],
#tab2:checked~nav label[for="tab2"],
#tab3:checked~nav label[for="tab3"],
#tab4:checked~nav label[for="tab4"],
#tab5:checked~nav label[for="tab5"],
#tab6:checked~nav label[for="tab6"],
#tab7:checked~nav label[for="tab7"],
#tab1_config:checked~nav label[for="tab1_config"],
#tab2_config:checked~nav label[for="tab2_config"] {
    background: var(--white);
    color: #111;
    position: relative;
    border-bottom: none;
}

#tab1:checked~nav label[for="tab1"]:after,
#tab2:checked~nav label[for="tab2"]:after,
#tab3:checked~nav label[for="tab3"]:after,
#tab4:checked~nav label[for="tab4"]:after,
#tab5:checked~nav label[for="tab5"]:after,
#tab6:checked~nav label[for="tab6"]:after,
#tab7:checked~nav label[for="tab7"]:after,
#tab1_config:checked~nav label[for="tab1_config"]:after,
#tab2_config:checked~nav label[for="tab2_config"]:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--white);
    left: 0;
    bottom: -2px;
}

#svg_line_preview {
    border: 1px solid var(--black);
}

#preview_line_bg {
    stroke: black;
}

/* JQuery Autocomplete */
.ui-autocomplete {
    max-height: 190px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    max-width: 100%;
}

.ui-menu-item-wrapper {
    padding-right: 10px;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.ui-menu-item .ui-menu-item-wrapper {
    white-space: nowrap;
}

/* ioBroker Special CSS */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        url('font/material.woff') format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased
}

.m .btn,
.m .btn:hover,
.dialog-select-object-ids .material .main-toolbar-table .panel-button {
    background-color: var(--primary);
}

.m #dialog-select-member {
    border: 3px solid var(--primary);
}

.panel-button {
    width: 24px !important;
    height: 24px;
    border: 0;
    margin: 0;
}

.dialog-select-object-ids .grid-main-wob-div {
    max-height: calc(55vh - 90px) !important;
}

.ui-button-icon-only {
    text-indent: inherit;
}